@media screen and (min-width:200px) and (max-width:576px) {
    .header{
        margin: 0 auto;
    }
    
    .navbar{
        flex-direction: column;
        gap: 40px;
    }

    .navbar .navlinks{
        flex-direction: column;
    }

    /* .navbar .navlinks .navitem .navlink {
        padding: 20px 30px;
    } */
    .banner-img-container {
        width: 250px;
        height: 300px;
    }

    .banner-img-container .img-box{
        height: 250px;
        width: 220px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner-text h1,.banner-text p{
        text-align: center;
    }

    .banner-text #banner-btn{
        position: relative;
        left: 50%;
        margin-left: -98px;
    }
}

@media screen and (min-width:576px) and (max-width:1000px) {
    .navbar{
        flex-direction: column;
        gap: 40px;
    }

    .banner{
        flex-direction: column-reverse;
        gap: 50px;
    }
    
    .navbar .navlinks{
        flex-direction: column;
    }

    .banner-text h1,.banner-text p{
        text-align: center;
    }

    .banner-text #banner-btn{
        position: relative;
        left: 50%;
        margin-left: -98px;
    }
}


/* <=======================================>
            product collection section 
   <=======================================> */


   @media screen and (min-width:576px) and (max-width:1000px){
    .collection .card-container{
        width: fit-content;
        margin: 0 auto;
        grid-template-columns: repeat(2 ,1fr);
    }
   }

   @media screen and (max-width:576px){
    .collection .card-container{
        width: fit-content;
        margin: 0 auto;
        grid-template-columns: repeat(1 , 1fr);
    }
   }


   /* <=======================================>
            featured-product section 
   <=======================================> */


   @media screen and (max-width:576px){
    .featured-product{
        margin-top: 20px;
        flex-direction: column-reverse;
        background: rgb(245, 242, 242);
    }

    .featured-product .featured-description{
        width: 100%;
        padding: 15px;

    }
    .featured-product .featured-description h1{
        text-align: center;
    }

    .featured-product .featured-description p{
        text-align: center;
    }

    .featured-product .featured-description #feature-btn{
        position: relative;
        left: 50%;
        margin-left: -77px;
    }
   }



   @media screen and (min-width:576px) and (max-width:1000px){
    .featured-product{
        margin-top: 20px;
        flex-direction: column-reverse;
        background: rgb(245, 242, 242);
        gap: 30px;
    }

    .featured-product .featured-description{
        width: 100%;
        padding: 15px;

    }
    .featured-product .featured-description h1{
        text-align: center;
    }

    .featured-product .featured-description p{
        text-align: center;
    }

    .featured-product .featured-description #feature-btn{
        position: relative;
        left: 50%;
        margin-left: -77px;
    }
}



   /* <=======================================>
            featured-product section 
   <=======================================> */

   @media screen and (min-width:576px) and (max-width:1000px){
    .footer{
        width: 100%;
    }
   }