@media screen and (min-width:200px) and (max-width:576px) {
    .header{
        margin: 0 auto;
    }
    
    .navbar{
        flex-direction: column;
        gap: 40px;
    }

    .navbar .navlinks{
        flex-direction: column;
    }

    /* .navbar .navlinks .navitem .navlink {
        padding: 20px 30px;
    } */
    .banner-img-container {
        width: 250px;
        height: 300px;
    }

    .banner-img-container .img-box{
        height: 250px;
        width: 220px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner-text h1,.banner-text p{
        text-align: center;
    }

    .banner-text #banner-btn{
        position: relative;
        left: 50%;
        margin-left: -98px;
    }
}

@media screen and (min-width:576px) and (max-width:1000px) {
    .navbar{
        flex-direction: column;
        gap: 40px;
    }

    .banner{
        flex-direction: column-reverse;
        gap: 50px;
    }
    
    .navbar .navlinks{
        flex-direction: column;
    }

    .banner-text h1,.banner-text p{
        text-align: center;
    }

    .banner-text #banner-btn{
        position: relative;
        left: 50%;
        margin-left: -98px;
    }
}