@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* <=======================================>
            Header section 
   <=======================================> */

.header {
  max-width: 1324px;
  border: 1px solid tomato;
  margin: 0 auto;
}

.navbar {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.navbar h2 {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  cursor: pointer;
  margin-left: 5%;
}

.navbar .navlinks {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 30px; */
}

.navbar .navlinks .navitem .navlink {
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  /* line-height: 24px; */
  letter-spacing: 0px;
  text-align: left;
  text-transform: capitalize;
  transition: 0.4s all;
  padding: 34px 48px;
}

.navbar .navlinks .navitem .navlink:hover {
  color: tomato;
}

.banner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 133px;
  flex-wrap: wrap;
}
.banner-text h1 {
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}

.banner-text p {
  margin-top: 16px;
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.banner-text #banner-btn {
  margin-top: 16px;
  width: 196px;
  height: 44px;
  border-radius: 41px;
  background: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  /* line-height: 24px; */
  letter-spacing: 0px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.banner-img-container {
  width: 475px;
  height: 475px;
  position: relative;
}

.banner-img-container img {
  width: 100%;
}

.banner-img-container .img-box {
  width: 440px;
  height: 414px;
  position: absolute;
  top: 5px;
  left: 10px;
}

.banner-img-container .img-box img {
  width: 100%;
}

/* <=======================================>
            SPonser section 
   <=======================================> */

.sponser {
  margin-top: 65px;
  padding: 35px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  flex-wrap: wrap;
}

.sponser .sponsor-img {
  width: 55px;
  height: 30px;
}

.sponser .sponsor-img img {
  width: 100%;
  height: 100%;
}

/* <=======================================>
            product collection section 
   <=======================================> */

.collection > h2 {
  margin-top: 80px;
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 30px;
}

.collection .card-container {
  width: 993px;
  border: 1px solid blue;
  /* background: rgb(240, 234, 234); */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.collection .card-container .card {
  padding: 14px;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
}

.collection .card-container .card .card-img img {
  width: 100%;
}

.collection .card-container .card h2 {
  margin-top: 15px;
  color: rgb(24, 25, 31);
  font-family: Poppins;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0%;
  text-align: left;
}

.collection .card-container .card h3 {
  margin-top: 6px;
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.collection .card-container .card p {
  margin-top: 5px;
  color: rgb(120, 120, 133);
  font-family: Inter;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 1.8%;
  text-align: left;
}

/* <=======================================>
            featured-product section 
   <=======================================> */

.featured-product {
  max-width: 993px;
  margin: 0 auto;
  background: rgb(247, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-bottom: 30px;
}

.featured-product .featured-description {
  width: 55%;
  padding-left: 10px;
}

.featured-product .featured-description h1 {
  color: rgb(10, 8, 38);
  font-family: Poppins;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 16px;
}

.featured-product .featured-description p {
  color: rgb(108, 108, 108);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 16px;
}

.featured-product .featured-description #feature-btn {
  width: 155px;
  height: 44px;
  /* border-radius: 41px; */
  background: rgb(224, 44, 109);
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.featured-product .featured-img {
  width: 404px;
  height: 270px;
  position: relative;
}
.featured-product .featured-img img {
  width: 100%;
  /* height: 100%; */
}

/* <=======================================>
           Footer section 
   <=======================================> */

.footer {
  margin: 0 auto;
  max-width: 1324px;
  height: 250px;
  background-color: rgb(10, 8, 38);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer h1 {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 3px;
}

.footer p {
  color: rgb(217, 219, 225);
  font-family: Manrope;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: center;
}
